# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [18]:
import pandas as pd

In [326]:
# Your code here

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

df.columns = [column.capitalize() if column == "GENDER" else column for column in df.columns]

df

,Customer,ST,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [328]:
# Identify the dimensions of the dataset by determining the number of rows and columns it contains.

df.shape

(4008, 11)

In [330]:
# Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. 
# You should also provide suggestions for fixing any incorrect data types.

df.dtypes

Customer                      object
ST                            object
Gender                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [332]:
# Number of Open Complaints could be ___________
# Customer Lifetime Value could be float and specify the % in the head of the table (so that we can calculate min and max)

In [334]:
# Identify the number of unique values for each column and determine which columns appear to be categorical. 
# You should also describe the unique values of each categorical column and the range of values for 
# numerical columns, and give your insights.

df.nunique()

Customer                     1071
ST                              8
Gender                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [336]:
# Categorical columns could be: ST, Gender, Education, Number of Open Complaints, Policy Type, Vehicle Class

In [338]:
df["ST"].nunique()

8

In [340]:
df["ST"].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [342]:
df["Gender"].nunique()

5

In [344]:
df["Gender"].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [346]:
df["Education"].nunique()

6

In [348]:
df["Education"].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [350]:
df["Number of Open Complaints"].nunique()

6

In [352]:
df["Number of Open Complaints"].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [354]:
df["Policy Type"].nunique()

3

In [356]:
df["Policy Type"].unique()

array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object)

In [358]:
df["Vehicle Class"].nunique()

6

In [360]:
df["Vehicle Class"].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

In [362]:
# Numerical columns are: Income, Monthly Premium Auto

In [364]:
print(f"Income min value: {df['Income'].min()}")
print(f"Income max value: {df['Income'].max()}")

Income min value: 0.0
Income max value: 99960.0

In [366]:
print(f"Monthly Premium Auto min value: {df['Monthly Premium Auto'].min()}")
print(f"Monthly Premium Auto max value: {df['Monthly Premium Auto'].max()}")

Monthly Premium Auto min value: 61.0
Monthly Premium Auto max value: 35354.0

In [368]:
print(f"Total Claim Amount min value: {df['Total Claim Amount'].min()}")
print(f"Total Claim Amount max value: {df['Total Claim Amount'].max()}")

Total Claim Amount min value: 0.382107
Total Claim Amount max value: 2893.239678

In [370]:
df["Customer Lifetime Value"].unique()

array([nan, '697953.59%', '1288743.17%', ..., '2031499.76%', '323912.47%',
       '899704.02%'], dtype=object)

In [372]:
customer_lifetime_value_values = (
    df["Customer Lifetime Value"]
    .str.replace("%", "", regex=False) 
    .astype(float) 
)

In [374]:
print(f"Customer Lifetime Value min value: {customer_lifetime_value_values.min()}")
print(f"Customer Lifetime Value max value: {customer_lifetime_value_values.max()}")

Customer Lifetime Value min value: 200435.07
Customer Lifetime Value max value: 5816655.35

In [376]:
# Compute summary statistics such as mean, median, mode, standard deviation, 
# and quartiles to understand the central tendency and distribution of the data for numerical columns.

df.select_dtypes(include = 'number').describe(include="all")

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [381]:
# Your code here

less_common_customer_locations = df["ST"].value_counts().tail(5).sort_values()

pd.Series(less_common_customer_locations)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [385]:
# Your code here

most_stold_policy = df["Policy Type"].value_counts().head(1)

pd.Series(most_stold_policy)

Policy Type
Personal Auto    780
Name: count, dtype: int64

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [420]:
# Your code here

df["Policy Type"]

0        Personal Auto
1        Personal Auto
2        Personal Auto
3       Corporate Auto
4        Personal Auto
             ...
4003               NaN
4004               NaN
4005               NaN
4006               NaN
4007               NaN
Name: Policy Type, Length: 4008, dtype: object

In [424]:
df["Policy Type"] == "Personal Auto"

0        True
1        True
2        True
3       False
4        True
        ...
4003    False
4004    False
4005    False
4006    False
4007    False
Name: Policy Type, Length: 4008, dtype: bool

In [430]:
df.loc[df["Policy Type"] == "Personal Auto"]

,Customer,ST,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1065,XD85577,Cali,M,Bachelor,284226.69%,69417.0,73.0,1/1/00,Personal Auto,Four-Door Car,30.874869
1066,TM65736,Oregon,M,Master,305955.03%,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,2031499.76%,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [407]:
# Use loc to create two dataframes: one containing only Personal Auto 

personal_auto_df = df.loc[df["Policy Type"] == "Personal Auto"]["Policy Type"]

personal_auto_df

0       Personal Auto
1       Personal Auto
2       Personal Auto
4       Personal Auto
5       Personal Auto
            ...
1065    Personal Auto
1066    Personal Auto
1067    Personal Auto
1068    Personal Auto
1070    Personal Auto
Name: Policy Type, Length: 780, dtype: object

In [436]:
# Use loc to create two dataframes: one containing only Corporate Auto 
corporate_auto_df = df.loc[df["Policy Type"] == "Corporate Auto"]["Policy Type"]

corporate_auto_df

3       Corporate Auto
6       Corporate Auto
7       Corporate Auto
8       Corporate Auto
12      Corporate Auto
             ...
1045    Corporate Auto
1050    Corporate Auto
1052    Corporate Auto
1056    Corporate Auto
1059    Corporate Auto
Name: Policy Type, Length: 234, dtype: object

In [453]:
personal_auto_avg_income = df.loc[df["Policy Type"] == "Personal Auto"]["Income"].mean()
print(f"Average Income for Personal Auto: {personal_auto_avg_income}")

Average Income for Personal Auto: 38180.69871794872

In [451]:
corporate_auto_avg_income = df.loc[df["Policy Type"] == "Corporate Auto"]["Income"].mean()
print(f"Average Income for Personal Auto: {corporate_auto_avg_income}")

Average Income for Personal Auto: 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [506]:
# Your code here

df["Total Claim Amount"].sort_values()

872     0.382107
45      0.517753
601     1.838367
664     1.924709
0       2.704934
          ...
4003         NaN
4004         NaN
4005         NaN
4006         NaN
4007         NaN
Name: Total Claim Amount, Length: 4008, dtype: float64

In [516]:
percentile_75 = df["Total Claim Amount"].quantile(0.75)

percentile_75

532.8

In [518]:
percentile_25 = df["Total Claim Amount"].quantile(0.25)

percentile_25

202.157702

In [512]:
high_claims_df = df.loc[df["Total Claim Amount"] > percentile_75]

high_claims_df

,Customer,ST,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
17,OE15005,Cali,NaN,College,394524.16%,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
23,TZ98966,Nevada,NaN,Bachelor,245019.10%,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763
26,US89481,California,NaN,Bachelor,394637.21%,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000
...,...,...,...,...,...,...,...,...,...,...,...
1059,YG44474,Oregon,M,College,1401472.13%,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945
1061,RY92647,Cali,F,Bachelor,1050677.17%,0.0,92.0,1/0/00,Personal Auto,Four-Door Car,546.524896
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [514]:
high_claims_df.describe(include = "all")

,Customer,ST,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
count,264,264,238,264,264,264.000000,264.000000,264,264,264,264.000000
unique,264,7,5,5,256,NaN,NaN,6,3,6,NaN
top,QZ44356,Oregon,F,Bachelor,578018.22%,NaN,NaN,1/0/00,Personal Auto,SUV,NaN
freq,1,90,115,85,3,NaN,NaN,206,191,101,NaN
mean,NaN,NaN,NaN,NaN,NaN,23677.344697,165.193182,NaN,NaN,NaN,782.228263
std,NaN,NaN,NaN,NaN,NaN,27013.483721,623.930992,NaN,NaN,NaN,292.751640
min,NaN,NaN,NaN,NaN,NaN,0.000000,63.000000,NaN,NaN,NaN,537.600000
25%,NaN,NaN,NaN,NaN,NaN,0.000000,99.000000,NaN,NaN,NaN,606.521741
50%,NaN,NaN,NaN,NaN,NaN,18807.000000,114.000000,NaN,NaN,NaN,679.597985
75%,NaN,NaN,NaN,NaN,NaN,42423.750000,133.250000,NaN,NaN,NaN,851.400000
max,NaN,NaN,NaN,NaN,NaN,99316.000000,10202.000000,NaN,NaN,NaN,2893.239678